body{
    background: linear-gradient(to left top, #FF78BA, #3913B8) ;
    font-family: jost;
 }

#searchbox{
    width: 75%;
    margin: auto;
}

div {
    text-align: center;   
}

#searchbox > input {
        width: 50%;
        border: 2px  white;
        border-right: 0px;
        font-size: 18px;
        padding: 12px;
        background: transparent;
        color: black; 
        border-radius:50px;
        background-color: white;   
}

nav > h1{
    margin: 10px;
    height: 30px;
    padding: 0;
    width: 30%;
    font-family: jost;
    color: white ;
}

/* Dropdown */
nav{
    background: #ea62e7;
    border-radius: 5%;
    width: 100%; 
}

ol, ul {
	list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
  nav > ul{
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 1%;
  }

  nav li{
    border: 1px #FF78BA solid;
    padding: 0.5em 1em;
    width: 7em;
    color: white;
    background-color: white;  
    transform: translateX(-1em);
    display: inline-block;
    justify-content: center;
  }

  nav ul ul{
    transform: scale(1,0);
     transform-origin: top center;
     position: absolute;
     top:100%;
     transition: 0.4s;
    text-align: center;  
 }
     
 nav li:hover ul{
  transform: scale(1,1);
     transition: 0.3s;
 }

a.b, a:hover{
    color: #FF78BA;
    transition: 0.3s;
}

a{
    text-decoration: none;
}

button{
    border: 2px solid #BCA8ED;
    background:#BCA8ED;
    font-weight: bold;
    margin: 20px;
    padding: 5px 10px;
    border-radius: 50px;
    font-family: jost;
    display: flex;
    color: white;
    font-size: 20px;   
}

button:hover{
    box-shadow: 0 0 5px 5px;
}

.counter{
    top: 1px;
}
.cart{
    position: relative;
    width: 30%;
  padding-left: 60%; 
}

.cart a{
    padding: 5px;
    border: 2px solid #BCA8ED;
    text-decoration: none;
   border-radius: 16px;
    color: white;
    background-color: #BCA8ED;
    font-size: 25px;   
}

.cart-container{
    margin: 80px auto;
    padding-left: 20%;
    padding-right: 20%;
}

.cart-container >table{
    width: 100%;
    border-collapse: collapse;
}

.td{
    padding: 10px 5px;
}

.td >input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

.td > a{
    color: orange;
    font-size: 12px;
    }

th{
    text-align: left;
    padding: 5px;
    color: white;
    background:  #BCA8ED;
    font-weight: normal;
}

.cart-info >p{
    color: white;
    padding-top: 4%;
}

.cart-info > small{
    color: white;
    margin-left:-15%;
    padding-top: 10%;
    right: 40%;
}

.cart-info > img{
    width: 17%;
    padding:5%;
}

.cart-info{
    display: flex;
}

.small{
    padding-bottom: 40%;
}

.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price >table{
    border-top: 3px solid #BCA8ED;
    width: 70%;
    max-width: 350px;
    color: white;
    margin-bottom: 1rem;
    padding: 5px;
}

.check-out-button {
    border: 2px solid white;
    border-radius: 50px;
    color: white;
    margin-left: 70%;
    font-size: 17px;
}

@media only screen and (max-width:980px) {
    div.cart-container >th{width: 100%;
                           margin-left: -70%;}
    
    div.cart-container >td{width: 100%;
                          margin-left: -10%;}

    div.cart-container{width: 90%;
                       margin-left: -10%;
                       left: 30%;}
    .cart-info >small{
        margin-left: 20%;
    }

       .cart-container > input{
           width: 10%;
       }

    .total-price >table{
        width: 100%;
    }
    
    .cart-info p{
        display: none;
    }

    .cart-container >h1{
        font-size: 20px;
        line-height: 32px;

    }
    div.cart-info >img{width: 100%;
    }
    .check-out-button{
        width: 40%;
        display: flex;
        margin-left: 43%;  
    }
    .cart >a{
        right: -1%;
      margin-top: -13%;
      position: absolute;
     }
     nav >ul{margin-left: 10%;}
}

footer{
    background:#9351FF;
    padding-bottom: 5%;
    color: white;
    font-family: jost;
    font-size: 15px;
}
