body{
    background: linear-gradient(to left top, #FF78BA, #3913B8) ;
    font-family: jost;
 }

#searchbox{
    width: 75%;
    margin: auto;
}

div {
    text-align: center;   
}

#searchbox > input {
        width: 50%;
        border: 2px  white;
        border-right: 0px;
        font-size: 18px;
        padding: 12px;
        background: transparent;
        color: black; 
        border-radius:50px;
        background-color: white;   
}

nav > h1{
    margin: 10px;
    height: 30px;
    padding: 0;
    width: 30%;
    font-family: jost;
    color: white ;
}

/* Dropdown */
nav{
    background: #ea62e7;
    border-radius: 5%;
    width: 100%; 
}

ol, ul {
	list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
  nav > ul{
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 1%;
  }

  nav li{
    border: 1px #FF78BA solid;
    padding: 0.5em 1em;
    width: 7em;
    color: white;
    background-color: white;  
    transform: translateX(-1em);
    display: inline-block;
    justify-content: center;
  }

  nav ul ul{
    transform: scale(1,0);
     transform-origin: top center;
     position: absolute;
     top:100%;
     transition: 0.4s;
    text-align: center;  
 }
     
 nav li:hover ul{
  transform: scale(1,1);
     transition: 0.3s;
 }

a.b, a:hover{
    color: #FF78BA;
    transition: 0.3s;
}

a{
    text-decoration: none;
}
button{
    border: 2px solid #BCA8ED;
    background:#BCA8ED;
    font-weight: bold;
    margin: 20px;
    padding: 5px 10px;
    border-radius: 50px;
    font-family: jost;
    display: flex;
}

button:hover{
    box-shadow: 0 0 5px 5px;
}

.counter{
    top: 1px;
}

.cart{
    position: absolute;
    width: 30%;
  padding-left: 60%; 
}

.cart a{
    padding: 5px;
    border: 2px solid #BCA8ED;
    text-decoration: none;
   border-radius: 16px;
    color: white;
    background-color: #BCA8ED;
    font-size: 25px;  
}

.check-out >td{
    padding: 20%;
}
.check-out-page{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-left: 20%;
}

.check-out >h3{
    text-transform: uppercase;
    padding: 10px;
    color: white;
    background-color: #BCA8ED;
}

.check-out >ul >li >a{
    text-transform: uppercase;
    padding: 10px;
    color: white;
    background-color: #BCA8ED;
    padding: 4px;
    display: block;
    border-radius: 50px;
    margin-top: 10%;
}

.check-out >input{
    width: 35px;
    position: relative;
    margin-right: 5px;
    outline: none;
    border: 2px solid #ea62e7;
    color: #ea62e7;
}

.check-out{color: white;}
.total-price{
    display: flex;
    justify-content: flex-end;
}

.total-price >table{
    margin-right: 10%;
    width: 100%; 
    font-size: 20px; 
    color: white;  
}

.total-price >td{
    text-align: center;
}
.order-summary{
    margin-right: 30%;
}

.form1 >label{
    color: white;
    width: 10%;
    margin: 4%;
    font-family: jost;
}

.form1 >h3{
    color: white;
    font-size: 15px;
    margin-right: 40%;

}
.form1{
    display: grid;
    margin-bottom: 10px;
}

h2{
    color: white;
    padding-left: 20%;
    font-size: 30px;
}

.billing {
    display: flex;
    justify-content: space-between;
}

.notvalidate{
     display: grid;
     font-size: 20px;
}

input{
    border: 2px solid  #BCA8ED;
    border-radius: 50px;
    background-color: #BCA8ED;
    color: white;
    margin-top: 3%; 
    font-size: 20px;
}

@media only screen and (max-width:980px) {
    .order-summary{margin-top: 160%;
                    margin-left: -80%;
                width: 100%;}
    .check-out >h3{width: 100%;
    margin-top: 60%;}
    .total-price >td{width: 100%;}
    .order-summary >a{width: 200%;}
    .check-out >ul{width:99%;}
    nav >ul{margin-left: 10%;}
    .cart >a{
        right: -1%;
      margin-top: -13%;
      position: absolute;
     }
     .check-out{margin-top: 40%;}
     .total-price{width: 130%;}
     .check-out >li{width: 160%;}
     .check-out{color: white;}
}