body{
    background: linear-gradient(to left top, #FF78BA, #3913B8) ;
    font-family: jost;
 }

#searchbox{
    width: 75%;
    margin: auto;
}

div {
    text-align: center;   
}

#searchbox > input {
        width: 50%;
        border: 2px  white;
        border-right: 0px;
        font-size: 18px;
        padding: 12px;
        background: transparent;
        color: black; 
        border-radius:50px;
        background-color: white;   
}

nav > h1{
    margin: 10px;
    height: 30px;
    padding: 0;
    width: 30%;
    font-family: jost;
    color: white ;
}

/* Dropdown */
nav{
    background: #ea62e7;
    border-radius: 5%;
    width: 100%; 
}

ol, ul {
	list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
  nav > ul{
    display:flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin: 1%;
  }

  nav li{
    border: 1px #FF78BA solid;
    padding: 0.5em 1em;
    width: 7em;
    color: white;
    background-color: white;  
    transform: translateX(-1em);
    display: inline-block;
    justify-content: center;
  }

  nav ul ul{
    transform: scale(1,0);
     transform-origin: top center;
     position: absolute;
     top:100%;
     transition: 0.4s;
    text-align: center;  
 }
     
 nav li:hover ul{
  transform: scale(1,1);
     transition: 0.3s;
 }

a.b, a:hover{
    color: #FF78BA;
    transition: 0.3s;
}

.topgenre{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: jost;
    margin: 50px;
    padding-right: 50%; 
    display: flex;
}
.topgenre-category{
    margin-top: 0px;
    width: 80%;
    display: flex;
}

.topgenre-category >a{
    color: white;
    display: flex;
    font-family: jost;
    border-radius: 50px;
}

.topgenre-img{
    padding: 1px;
    width: 10%;
    flex: 33.33%;
    padding-right: 5%;
}
.topgenre-img img{
    width: 100%;
    display:flex;
    transition: transform 2s;
    border-radius: 50px;
    box-shadow: 0 4px 5px -1px rgba(0,0,0,0.5);
    opacity: 0.8;
    clip-path: circle();
}
 
.topgenre-img1{
    padding: 1px;
    width: 10%;
    flex: 33.33%; 
    padding-right: 5%;
}
.topgenre-img1 img{
    width: 100%;
    display:flex;
    transition: transform 2s;
    border-radius: 50px;
    box-shadow: 0 4px 5px -1px rgba(0,0,0,0.5);
    opacity: 0.8;
    clip-path: circle();
}

.topgenre-img1 > img:hover{   
    border: 8px solid white;
    border-radius: 50%;
    padding: 5%;   
}

.topgenre-img > img:hover{
    border: 8px solid white;
    border-radius: 50%;
    padding: 5%;   
}

a{
    text-decoration: none;
}

.presenter{
    padding-left: 20%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
   margin: auto;
   grid-gap:20px;
   overflow: auto; 
}

.gallery{
    margin: 5px;
    border: 1px  white;
    float: left;
    display: block;
    position: relative;
}

.gallery > img{
    width: 60%;
    height: auto;
    margin: 1px;
    border-radius: 10px; 
}

.gallery > a >img{
    width: 60%;
    height: auto;
    margin: 1px;
    border-radius: 10px; 
}

.gallery > a >img:hover{
    transform:scale(1.1);
    transition: 1.2s ease;
}

.gallery > img:hover{
    transform:scale(1.1);
    transition: 1.2s ease;
}

.title{
    padding: 10px;  
    text-align: center;
    font-family: jost;
    font-size: 25px;
    color: white;
    font-style: italic;
}

.title > p{
    color:white
}

.shopping-container{
    display: flex;
    position: relative;
    padding-left: 30%;
}

.shopping-container > button{  
    top: 8px;
    font-family: jost;
    margin-left: -4%;
    overflow: wrap;
    color: white;
    white-space: pre;
    font-size: 17px;
    border-radius: 50px;
    display: flex;
   justify-content: cen;
}

.add-animation{
    display: flex;
    padding-left: 40%;
}

button{
    border: 2px solid #BCA8ED;
    background:#BCA8ED;
    font-weight: bold;
    margin: 20px;
    padding: 5px 10px;
    border-radius: 50px;
    font-family: jost;
    display: flex;
    font-weight: bold;
}

button:hover{
    box-shadow: 0 0 5px 5px;
}

.counter{
    top: 1px;
}

.cart{
    position: relative;
    width: 30%;
  padding-left: 60%;
}

.cart a{
    padding: 5px;
    border: 2px solid #BCA8ED;
    text-decoration: none;
   border-radius: 16px;
    color: white;
    background-color: #BCA8ED;
    font-size: 25px;
}

.cart-1 >a{
    display: flex;
    padding-bottom: 50%;
    top: 70%;
}

.cart-1{top: 30%;}

@media only screen and (max-width:980px) {
    nav.ul >li{width: 100%}
    nav.ul> a {width: 100%}
    div.presenter{display: grid;
    grid-template-columns: repeat(2,1fr);}
    div.gallery>a >img{width: 100%;}
    div.gallery>a{width: 100%;}
   div.gallery >img{width: 100%;}
   div.gallery{right:35%;}
   nav.h1{width: 100%;}
   div.shopping-container{right:25%;}
   .shopping-container >button{margin-left: 15%;}
   div.sidebar{width: 100%;}
   div.topgenre-img >img{display: none;}
   div.topgenre-img >p{display: none;}
   div.topgenre-img1 >img{width: 500%;
display: flex;}
div.topgenre-img1 >p{margin-left:180%;}
.cart >a{margin-left: 24%;
margin-bottom: 50%;}
nav >ul{margin-left: 10%;}
}
.sidebar{
    margin: 0;   
    user-select: none;
    box-sizing: border-box;
    height: 100%;
    left: 0;
    background-color: aliceblue;
    position: relative;
    width: 20%;
}

.sidebar > text{
    color: white;
    font-size: 50px;
}

.sidebar >ul >li{
   line-height: 60px;
   padding-right: 74%;
   font-size: 20px;
   font-family: jost;
}

footer{
    background:#9351FF;
    padding-bottom: 5%;
    color: white;
    font-family: jost;
    font-size: 15px;
}